.form {
  width: min(50rem, 90%);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  background-color: var(--secondary-background);
  outline: none;
  border: var(--border);
  padding: 1.2rem 1.6rem;
  border-radius: 1.8rem;
}

.label {
  font-size: 1.4rem;
  color: #ffffff99;
  font-weight: 700;
}

.input {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 400;
}

.formModal {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.select {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  background-color: var(--secondary-background);
  outline: none;
  border: var(--border);
  padding: 1.2rem 1.6rem;
  border-radius: 1.8rem;
  cursor: pointer;
}

.select label {
  font-size: 1.4rem;
  cursor: pointer;
  color: #ffffff99;
  font-weight: 700;
}

.select select {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white);
  text-transform: capitalize;
}

.textError {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #eb1c09;
  opacity: 0;
  transform: scale(0);
  transition: all ease 0.3s;
}
.textError.active {
  opacity: 1;
  transform: scale(1);
}

.deleteBtn {
  background-color: #eb1c09;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputSelect {
  position: relative;
}
.floatingList {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 2;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
  overflow: hidden;
  height: fit-content;
  max-height: 24rem;
}
.floatingList.open {
  opacity: 1;
  visibility: visible;
}
.list {
  height: 100%;
  overflow-y: auto;
}
.option {
  padding: 1.5rem 2rem;
  transition: all ease 0.3s;
  cursor: pointer;
}

.option:hover {
  background: #eee;
}

.emptyResult {
  padding: 2rem;
}
