:root {
  --font: sans-serif;

  --regular: 400;
  --semibold: 500;
  --bold: 700;

  --border-radius: 12px;

  --border: 1px solid rgba(255, 255, 255, 0.06);

  --main-background: #181828;
  --secondary-background: #2f2f43;
  --white: #ffffff;
  --transparent: transparent;
  --text-800: #fefefecc;
  --text-600: #ffffff99;
  --btn-background: linear-gradient(99deg, #236bfe 6.69%, #0d4ed3 80.95%);

  --main-shadow: 0px 4px 30px 0px rgba(34, 105, 251, 0.8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--main-background);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 1.6rem;
}

a,
button {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  background-color: var(--transparent);
  outline: none;
  border: none;
  color: var(--white);
}

button {
  background: var(--btn-background);
  box-shadow: var(--main-shadow);
  border-radius: var(--border-radius);
  padding: 2.2rem 3.8rem;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: var(--bold);
}

h1,
h2,
h3 {
  font-weight: var(--bold);
}

p {
  font-weight: var(--regular);
  font-size: 1.8rem;
}
