.tableWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.table {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
}

.tableHead {
  display: flex;
  background-color: #ddd;
}

.tableBody {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}

.tableHead tr,
.tableBody tr {
  flex: 1;
  max-height: 6.5rem;
  display: flex;
  border-bottom: thin solid #bbb;
  justify-content: space-between;
}
.tableHead tr th,
.tableBody tr td {
  flex: 1;
  display: flex;
  padding: 1.2rem 2rem;
  align-items: center;
  text-transform: capitalize;
}

.pagination {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  width: 100%;
  padding-right: 3rem;
  gap: 1.6rem;
  color: #b1b1b1;
}

.dataPerPage {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.currentPage {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.chevronInverse {
  display: inline-block;
  transform: rotate(180deg);
  cursor: pointer;
}

.arrowActions {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.chevron {
  transform: translateY(0.4rem);
  cursor: pointer;
}

tr.empty {
  flex: 1;
  display: flex;
  align-self: center;
  margin-top: 3rem;
  color: var(--main-background);
  border: none;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.editAction {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteAction {
  background: #eb1c09;
  box-shadow: none;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activo {
  color: rgba(37, 176, 37, 0.8);
}
.inactivo {
  color: #ff0000;
}
